#app {
    @include flexCenter;
    background-color: $containerBg;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.calculator {
    @include container-shadow;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1400px;
    overflow: hidden;
    padding: 30px;
    border-radius: 40px;
    background-color: $background;
}

.calculator-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $background;
}

@media screen and (max-width: 1370px) {
    // #app {
    //     padding: 15px;
    // }

    // .calculator {
    //     padding: 15px;
    //     border-radius: 35px;
    // }
}

@media screen and (max-width: 1124px) {
    .calculator {
        padding: 20px;
        border-radius: 35px;
    }

}

@media screen and (max-width: 1025px) {
    #app {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }

    .calculator-container {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 848px) {
    #app {
        padding: 15px;
    }

    .calculator {
        padding: 20px;
    }
}

@media screen and (max-width: 470px) {
    #app {
        padding: 0;
    }
    .calculator {
        padding: 15px;
        border-radius: 5px;
        box-shadow: none;
    }
}