* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.3rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s;
    line-height: 1.2rem;
    letter-spacing: 1px;
    transition: .2s;
    background-color: $buttonBg;
    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }
    &::selection{
        outline: none;
    }
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
    border: none;
}

select {
    cursor: pointer;
    outline: none;
}

label {
    font-weight: lighter;
}

ion-icon {
    pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $font-color;
    transition: background-color 5000s ease-in-out 0s;
}