$background: #222222;
$containerBg: #313131;
$standard: #3f7486;
$lightBg: #f0f0f0;
$buttonBg: #424242;
$font-color: #d3d3d3;
$font-color-dark: #2f2f2f;
$border-standard:1px solid #3f7486a9;
$selectBg:#ebebeb;
$selectBorder:#89bad3ce;
