$background: #222222;
$containerBg: #2f2f2f;
$standard: #3f7486;
$lightBg: #f0f0f0;
$buttonBg: #333333;
$font-color: #d3d3d3;
$font-color-dark: #2f2f2f;
$border-standard:1px solid darken($standard, 5%);

$color-standard-dark: #66a4b8;
$grey-font: grey;
$color-light-bg:#eaf8f3;
$orange:#ff8450;
$yellow:#ffe774;
$light-green:#ebffd0;
$light-orange:#ffe8a4;
$input-bg:#f1fbf8;
$green:#65be41;
$email-bg:#dbf0e8;
$list-bg:#fbfbfb;